@mixin identifiants {
  background-color: $brand-primary;
  color: white;
  text-align: center;
  border-radius: $radius-five;
  text-transform: uppercase;
}

.header-resp {
  display: none;
}

.header {
  position: fixed;
  z-index: 999;
  background-color: $brand-primary;
  width: 100%;
  height: 60px;
  color: white;
  line-height: 50px;
  top: 0;
  left: 0;
  .logo {
    position: absolute;
    width: 50px;
    margin: 5px;
  }
  ul {
    line-height: 60px;
    margin-left: 60px;
    li {
      font-size: 0.8em;
      list-style-type: none;
      display: inline;
      color: white;
      a {
        list-style-type: none;
        display: inline;
        margin-left: 20px;
        color: white;
        .fa-search {

        }
      }
    }
  }

  .right {
    position: absolute;
    top: 4px;
    right: 10px;
    img {
      width: 46px;
      border-radius: 50%;
      height: 46px;
      border: white 1px solid;
    }
  }
}

.contain {
  margin-top: 75px;
  h1 {
    color: $brand-primary;
    text-align: center;
  }
}

//width: 80%;
.align-h {
  display: flex;
  flex-wrap: wrap;
  .colis {
    border: 2px solid $brand-primary;
    margin: 20px auto;
    max-width: 250px;
    border-radius: $radius-five;
    img {
      display: block;
      margin: 10px auto;
      width: 75%;
    }
    .category {
      @include identifiants;
      margin: -10px 0 0 10%;
      width: 75%;
      font-size: 0.8em;
      height: 20px;
      line-height: 20px;
    }
    hr {
      width: 80%;
      color: #e5e5e5;
      margin: 5px auto;
    }
    .citys {
      width: 100%;
      text-align: center;
    }
    .price {
      @include identifiants;
      margin: 5px auto;
      font-size: 1.1em;
      height: 30px;
      line-height: 30px;
      width: auto;
      a {
        color: white;

      }
      &:hover {
        background-color: lighten($brand-primary, 15%);
      }
    }
  }
}

.block-right {
  margin: 20px 0;
  background-color: #141b4d;
  color: white;
  text-align: center;
  border-radius: $radius-five;
  p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  label {
  }
  input {
    display: block;
    color: black;
    margin: 10px auto;
    width: 80%;
    padding-left: 5px;
  }
  .nb-colis {
    width: 30%;
  }
  .btn-submit {
    display: inline-block;
    background-color: white;
    border-radius: $radius-five;
    color: #141b4d;
    padding: 3px;
    width: 80px;
    text-align: center;
    margin: 20px auto;
  }
}


